.section-features {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
    margin: 0 auto;
}

.features-section-title {
    /* font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; */
}

.features-container {


}

.features-section-list {
    display: flex;
    flex-direction: row;
    gap: 24px;

}
.features-list-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
    gap: 8px;
}

.features-icon-container {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    height: 112px
}

.features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

