.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.web {
    color: #4D5AE5;
}

.footer-first-container {
    margin-right: 120px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-title-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #f4f4fd;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.main-title-footer,
.footer-text {
    box-sizing: border-box;
    max-width: 264px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
}

.footer-sm {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    /* margin-right: 83px; */
}

.footer-sm-icon-list {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 16px;
}

.footer-sm-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 20px;
    transition: background-color 250ms ease;
}

.footer-sm-icon {
    fill: #f4f4fd;
}

.footer-sm-link:hover,
.footer-sm-link:focus {
    background-color: #31d0aa;
}

.subscribe-footer-panel {
    height: 80px;
    top: 0;
    right: 0;

}

.subscribe-footer-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    padding-bottom: 16px;
}

.subscribe-label-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #fff;

    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    resize: none;
    background-color: transparent;
    transition: border-color 250ms ease;
}

.subscribe-label-input:focus {
    border-color: #31d0aa;
}

.subscribe-label-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-textbtn-box {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.subscribe-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    white-space: nowrap;
    max-width: 165px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms ease;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #31d0aa;
}