.section-team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
    margin: 0 auto;

}
.section-team-container {
    max-width: 1158px;
}

.section-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    white-space: nowrap;
}

.section-team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.team-list-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-text-container {
    padding: 32px 16px;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;

}

.team-member-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.team-sm-icons-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.team-sm-icon-container {

}

.team-sm-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 40px;
    transition: background-color 250ms ease;
}

.team-sm-icon {
    fill: #f4f4fd;
    transition: fill 250ms ease;
}

.team-sm-link:hover,
.team-sm-link:focus {
    background-color: #404bbf;
}
